@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityUser>

<h1>Zarządzanie użytkownikami</h1>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Nazwa użytkownika</th>
            <th scope="col">Email</th>
            <th scope="col">Potwierdzony</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var user in Model)
        {
            <tr scope="row">
                <td>@user.UserName</td>
                <td>@user.Email</td>
                <td>@user.EmailConfirmed</td>
            </tr>
        }
    </tbody>
</table>