@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Upss...";
}

<div>
    <h1>Upss... Brak dostępu</h1>
</div>
<div>
    <img src="https://w7.pngwing.com/pngs/311/425/png-transparent-humour-funny-face-youtube-joke-laughter-youtube-comics-face-comic-book-thumbnail.png" alt="Brak zdjęcia..." />
</div>