<ul class="navbar-nav" style="background-color:white;border: 1px solid black;">
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Product" asp-action="Index">Wszystkie produkty</a>
    </li>

</ul>