@{
    var categories = ViewBag.LayoutCategory as IEnumerable<SklepRTV.Model.Category>;
}

<ul class="navbar-nav" style="background-color:white;border: 1px solid black;">
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Product" asp-action="Index">Wszystkie produkty</a>
    </li>
    @if (categories != null)
    {
        @foreach (var item in categories)
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Product" asp-action="Category" asp-route-id="@item.Id">@item.Name</a>
            </li>
        }
    }
    else
    {
        <li class="nav-item">
            <span class="nav-link text-dark">Brak kategorii</span>
        </li>
    }
</ul>
