@model IEnumerable<SklepRTV.Model.Product>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

@foreach (var item in Model) 
{
    <div class="row">
        <div class="col-sm-3">
            <div class="card text-center" style="padding: 1px;">
                <img class="card-img-top" src="#" alt="Zdjęcie produktu" />
                <div class="card-body">
                    <h5 class="card-title">@item.name</h5>
                    <p class="card-text">@item.description</p>
                    <a asp-controller="Product" asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary">Szczegóły</a>
                </div>
            </div>
        </div>
    </div>
        
}


